{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Assignment| StudyFlow</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}?v=20260922-profile">
</head>
<body>
     {% include 'includes/navbar.html' %}

    <main class="container">

        <section class="hero">
            <h1>Add Assignment ✏️</h1>
            <p>Add a new assignment to your StudyFlow.</p>
        </section>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Assignment</button>
        </form>

    </main>

</body>
</html>